<!DOCTYPE html>
<html>
  <head>
    <title>Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Be kind to your @Model.GetNoun() in @Model.GetPlace()</p>
    <p>Where the weather is always @Model.GetAdjective().</p>
    <p>You may think that this is the @Model.GetNoun2(),</p>
    <p>Well it is.</p>
  </body>
</html>
