<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Hello @Model.GetName(), I live in @Model.GetPlace() and I'm feeling quite @Model.GetAdjective1()! Goodbye.</p>
  </body>
</html>
